$background: rgb(75, 186, 255);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

button {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: "Mukta", sans-serif;
}

/*scrollbars customeizing*/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4bbaff;
}
::-webkit-scrollbar-corner {
  display: none;
}
// for firefox
:root {
  scrollbar-color: #4bbaff #fff;
  scrollbar-width: thin !important;
}

.home {
  font-size: 60px;
  font-weight: bold;
}

.h1-title {
  font-size: 56px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  color: #555454;
}

.default-btn {
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: $background;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  border-top-right-radius: 45px;
  transition: 0.7s;

  &:hover {
    border-top-right-radius: 15px;
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}

.page {
  min-height: 100vh;
  background-color: rgb(232, 241, 226);
  display: flex;
  flex-direction: column;
}

.section-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-block {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}

.main {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
  padding: 150px 0 50px 0;
}

.scoreboard__title {
}

.scoreboard-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &__icon {
    width: 40px;
    padding: 10px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    color: lightgrey;
  }

  &__input {
    height: 60px;
    border: none;
    padding: 10px;
    width: 300px;
    outline: none;
    font-size: 24px;

    ::-webkit-input-placeholder {
      color: lightgrey;
    }
    ::-moz-placeholder {
      color: lightgrey;
    }
    :-moz-placeholder {
      color: lightgrey;
    }
    :-ms-input-placeholder {
      color: lightgrey;
    }
  }

  &__btn {
    width: 150px;
    height: 60px;
    font-size: 25px;
    border-top-right-radius: 45px;
    transition: 0.5s;

    &:hover {
      border-top-right-radius: 15px;
    }
  }
}
